<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css?{{ cache_id }}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/scripts/1-hbnb.js?{{ cache_id }}"></script>
    <title>HBNB - Dynamic</title>
  </head>
  <body>
    <header>
      <!-- Header content -->
    </header>
    <div class="filters">
      <h3>Filters</h3>
      <div class="Amenities">
        <h4>&nbsp;</h4>
        <ul>
          <li>
            <input type="checkbox" data-id="1" data-name="Wi-Fi" />
            Wi-Fi
          </li>
          <li>
            <input type="checkbox" data-id="2" data-name="Pool" />
            Pool
          </li>
          <li>
            <input type="checkbox" data-id="3" data-name="Parking" />
            Parking
          </li>
        </ul>
      </div>
    </div>
    <section>
      <!-- Main content -->
    </section>
    <footer>
      <!-- Footer content -->
    </footer>
  </body>
</html>
