<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css?{{ cache_id }}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/scripts/4-hbnb.js?{{ cache_id }}"></script>
    <title>HBNB - Filter Places</title>
  </head>
  <body>
    <header>
      <h1>HBNB</h1>
      <div id="api_status"></div>
    </header>
    <div class="filters">
      <!-- Filters content remains unchanged -->
      <button type="button">Search</button>
    </div>
    <section class="places">
      <!-- Dynamic places will be loaded here -->
    </section>
    <footer>
      <!-- Footer content -->
    </footer>
  </body>
</html>
